language: cpp
compiler:
  - clang
  - gcc
os:
  - osx
  - linux
dist: xenial
osx_image: xcode10.1

addons:
  apt:
    sources:
      - sourceline: 'ppa:mhier/libboost-latest'
    packages:
      - clang-format
      - make
      - libboost1.70-dev
    update: true

matrix:
  allow_failures:
    - os: linux

install:
    - ./travis/install-deps.sh

script:
    - export PATH=/usr/local/bin:$PATH
    - make all
