language: cpp
compiler:
  - clang
  - gcc
os:
  - osx
  - linux
dist: xenial
osx_image: xcode10.1

addons:
  apt:
    update: true
    packages:
      - clang-format
      - make

matrix:
  allow_failures:
    - os: linux

install:
    - ./travis/install-deps.sh

script:
    - make all
