language: cpp
compiler:
  - clang
  - gcc
os: osx
osx_image: xcode10.1  # macOS 10.13

install:
    - brew install boost || brew upgrade boost

script:
    - mkdir build
    - cd build
    - cmake ..
    - cmake --build .
    - ctest
    