language: cpp

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

dist:
  - bionic

osx_image: xcode10.1

addons:
  apt:
    sources:
      - sourceline: 'ppa:mhier/libboost-latest'
      - ubuntu-toolchain-r-test
    packages:
      - clang-format
      - make
      - g++-9
      - libboost1.70
      - libboost1.70-dev
    update: true

install:
  - env | grep '^TRAVIS' | sort
  - source ./travis/install-deps.sh

script:
  - export PATH=/usr/local/bin:$PATH
  - make all
