language: cpp
compiler:
  - clang
  - gcc
os:
  - osx
  - linux

matrix:
  include:
    - os: linux
      dist: trusty
    - os: osx
      osx_image: xcode7.2
  allow_failures:
    - os: linux
    
install:
    - ./install-deps.sh

script:
    - make all
    - make test_ubsan
    - which git-clang-format || true